<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.realitycheck.pomogatorandroidapp" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:icon="@drawable/big_black_clear"
        android:networkSecurityConfig="@xml/network_security_config"
        android:label="@string/app_name">
        <service
            android:name="com.here.android.mpa.service.MapService"
            android:label="Pomogator"
            android:exported="false">
            <intent-filter>
                <action android:name="com.realitycheck.pomogatorandroidapp">
                </action>
            </intent-filter>
        </service>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RoutingActivity">
        </activity>

        <meta-data
            android:name="com.here.android.maps.appid" android:value="a29rmuw2wJhODmpD8zmG" />
        <meta-data
            android:name="com.here.android.maps.apptoken" android:value="iNxrdX9vji5wMktmgl7aLA" />
        <meta-data android:name="com.here.android.maps.license.key"
            android:value="GodB3AwXbeR4roBmgk7ZAmZrHn/zWiZ23pgR0LmrWM/cwrGFK34xcURUVTaNWPpHDGVSgxz7ZzJvVPy8lA21IBWzzfbxD1XJ+GQ/JMgV1/b5ux8nd4hJcN1X4q1b4HIAhLhexqtIu63FPOlYYvc8ioRocTvpyp1eGDxmBQmGJIWOmtTaVRWaLKC/QTeTQC2i1hF2jqGS34TM86BcsFjJZig7x9FniKtLJ7a6NzTOZfvfztekRVB1qv0/pnR+jjxai8A79Rkr2qG2tDgANyYzMTgQsfkQE5GaWoyO9D72DSdhHgcSQJ/1Yw26EUKLnyG+Wwq6SF4KHhxnc0Pt1o/h6mgHhFzJPVsPn9SXwaeqe9zjTwF5RGgg8dYriaqea1s6f4Ta4X5CsIejZrBbBDnAOMrudbp6+H5yu0sjwPwsh9gORKwyKfbuAwZxit1v47/Stp/wVsyB3Es+LKZFfeNIGgWWtwBFRarHVnKnZ9UCemOpzYDUJK8qk2GJnq7e/q3mcrnKJFojmrjIPoY/czYP2vg/CffAJBPAwK06hQYiqGQstSEqeYmtb8vpqtvJpU8OZPRqlvtm+99a3EfQx4SuWJZ9Gq2hUaUlC+0/XcEiFkn5sxyqYNaDZ7XjVr9IpJoUTDZVXNtTL+imtAdxQSP6gCcFoGEu4lfJwQ5RNfl6EOI="/>

        <!-- HERE Positioning Service definition. -->
        <service
            android:name="com.here.services.internal.LocationService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote">
        </service>

    </application>

</manifest>
